.bi {
  vertical-align: -0.1em;
}

body {
  min-height: fill-available;
  min-height: 100vh;
}

aside {
  height: 100vh;
  /*height: -webkit-fill-available;*/
  height: fill-available;
  height: -moz-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}

.navigation-header {
  font-size: 0.750em;
}

